body{
	margin: 0;
	padding: 0;
	font-family: 'Lato', sans-serif;
	background-image: url(../img/fondo.jpg);
	background-size: cover;
}
.titulo{
	background-color: #fff;
	padding: 40px;
	display: flex;
}
.titulo h1{
	margin: 0;
	font-size: 30px;
	font-weight: 900;
	color: #e04040;
	margin: 15px 0 0 20px;
}
.titulo i{
	color: #e04040;
}
.tareas{
	margin: 0 auto;
	background-color: #fff;
	padding: 40px;
	margin-top: 40px;
	border-radius: 20px;
	box-shadow: 5px 5px 2.5px 0px rgba(0,0,0,0.2);
}
h5{
	color: #e04040;
}
[type="checkbox"]:not(:checked), [type="checkbox"]:checked {
    position: relative;
    opacity: 0;
    content: '';
    top: 0;
    left: 20px;
    width: 18px;
    height: 18px;
    z-index: 9999;
    margin-top: 3px;
 }
.tareas{
	width: 50%;
}
.remove{
	font-size: 25px;
	position: absolute;
	right: 30%;
	color: #26a69a;
}